/*
 * CSS for the gallery
*/




body {
  background:          #111;
}

#dgallery {
  text-align:          center;
  width:               100%;
  padding:             0 5% 5% 5%;
}

#dgallery p {
  color:               #AAA;
}

#dgallery a {
  color:               white;
}

#dgallery #dmatrix {
  text-align:          left;
  width:               100%;
}

#dgallery #dmatrix li {
  list-style-type:     none;
  float:               left;
  height:              248px;
  padding:             4px;
}

#dgallery #dmatrix li a img {
  height:              240px;
}

/*
#dflickr li a {
  margin:           10px;
}
  vertical-align:    middle;
  margin:            auto;
  width:             80%;
  margin:            auto;
*/




/*
 * EOF
*/
