



body {
	background:        #777;
	min-height:        100%;
  padding:           50px 0px;
}


.navbar
{
	background:        #111;
}

.row
{
	background:        #FFF;
}


h1 {
  text-align:      center;
  font-weight:       bold;
}


.tagline
{
  text-align:      center;
  font-style:      italic;
}


#dcontent
{
  margin-bottom:     40px;
}


.indent {
	padding:           0 0 0 1em;
}


.ul-unstyled
{
  list-style-type:   none;
  padding:           0px;
  margin:            0px;
}


.strchd {
  width:         100%;
  height:        100%;
}


#theleft .panel, #theright .panel
{
  padding:           10px;
}

@media only screen and (max-width : 991px)
{
  #theleft, #theright
  {
    display: none;
  }
}

@media only screen and (max-height : 700px)
{
  .navbar-fixed-bottom
  {
    display: none;
  }
}


.clear {
  clear:         both;
}


/*.loader {*/
/*  position:    fixed;*/
/*  left:        0px;*/
/*  top:         40px;*/
/*  width:       100%;*/
/*  height:      100%;*/
/*  z-index:     9999;*/
/*  background:  url(../gfx/loader.gif) 50% 50% no-repeat; /* rgb(249,249,249) */*/
/*}*/

/*.loader {*/
/*  margin:      auto;*/
/*  width:       400px;*/
/*  height:      400px;*/
/*  z-index:     9999;*/
/*  background:  url(../gfx/loader.gif) 50% 50% no-repeat;*/
/*}*/




/*
 * EOF
*/
