



body {
	background:        #777;
	min-height:        100%;
  padding:           50px 0px;
}


.navbar
{
	background:        #111;
}

.row
{
	background:        #FFF;
}


h1 {
  text-align:      center;
  font-weight:       bold;
}


.tagline
{
  text-align:      center;
  font-style:      italic;
}


#dcontent
{
  margin-bottom:     40px;
}


.indent {
	padding:           0 0 0 1em;
}


.ul-unstyled
{
  list-style-type:   none;
  padding:           0px;
  margin:            0px;
}


#theleft .panel, #theright .panel
{
  padding:           10px;
}

@media only screen and (max-width : 991px)
{
  #theleft, #theright
  {
    display: none;
  }
}




/* EOF */
